<form accept-charset="UTF-8" action="/users" class="form-signin" id="new_user" method="post" novalidate="novalidate">
	<input name="utf8" type="hidden" value="✓">
	<input name="authenticity_token" type="hidden" value="3FoI5hddyyzqtrZr7Mg3RXkFWGq19gaYjkY8/OAr02c=">
	<input autofocus="autofocus" class="form-control required" id="user_email" name="user[email]" size="50" type="email" value="" placeholder="Email address">
	<input class="form-control required" id="user_password" name="user[password]" size="50" type="password" placeholder="Password">
	<input class="form-control required" id="user_password_confirmation" name="user[password_confirmation]" size="50" type="password" style="margin-bottom:10px;" placeholder="Password confirmation">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	<br>
	<%= render "devise/shared/links" %>
</form>
