<div class="row">
	<div class="col-md-offset-3 col-md-6">
	<h3>Welcome to Wanderlust</h3>
	<p>I built this app as a way to help organize travel plans among multiple people. It's a small but common problem I ran into when traveling.  The application has a wide variety of uses.  If you're traveling to see friends you could use it to keep track of all their recommendations to help you plan.  You could use it as a quick reference if you're on vacation trying to find the next place to go. You could use it to keep track of the place you've been on your vacation. etc.</p>

	<p>Here’s an:</p>
	<p><a href="/trips/c8b8d9b3444c2dce21fcf12063101b77a93c30f6/edit">Example Trip</a></p>
	<p><a href="/users/2">Example Profile</a></p>
	<br/>

	<p>I open sourced the project on <a href="https://github.com/danecjensen/mywanderlust">GitHub</a>, so check it out and make it better.  I always planned to build an iPhone and Android app to complement this webapp, so if you have experience in that please contact me: danecjensen [at] gmail.</p>

	<p>Please check out my other projects:</p>
	<p><a href="http://www.sockclub.com">Sock Club</a></p>
	<p><a href="http://swag.sockclub.com">Sock Swag (Design Your Own Socks)</a></p>
	<p><a href="http://www.danecjensen.com">Personal Website</a></p>



	<p>Please try to plan a trip with it and share the trip with people and tell me what would make the app more useful.</p>

	<p>All feedback is appreciated.</p>
	</div>
</div>