<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Help plan a vacation</h1>
    <p>
      Add activities and destinations here: <%= @url %>.
    </p>
  </body>
</html>