// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  filter: none;
}

.carousel-control.left {
  background-image: none;
  filter: none;
}

h3{
  overflow: hidden;
  white-space: nowrap;
}