  <% if user_signed_in? %>
    	<%= link_to(current_user) do%>
    		<button type="button" class="btn btn-default navbar-btn">Profile</button>
    	<% end %>
  <% else %>
  	<li>
    	<%= link_to 'Login', new_user_session_path, :class =>'btn btn-default navbar-btn' %>
	</li>
  <% end %>